.auto/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex
*.synctex.gz
*.png
*.pgf
*.h5
__pycache__/
_cache/
/README.html
/herd/data/hedger_1972.ods
/herd/floquet/monodromy*.so
/manuscript/
/notes/
/orphans/
/papers/
